---
layout: default
title: Home
permalink: /index.html
---
<div class="wrapper">
  <div class="pure-g-r">
    <div class="pure-u-3-4">
      <div class="box">
        <p class="intro">Hello, I'm Yuqi. I'm a recent grad working in tech. This is a space for me to share my <a href="/projects">projects</a> and <a href="/artwork">art</a>. I <a href="http://blog.yuqihou.com/" target="_blank">blog</a> occasionally.</p>
        <ul class="list-inline">
          <li>
            <a href="https://github.com/moue" class="btn-social btn-outline"><i class="fa fa-fw fa-github center"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/yuqi-hou-27251034" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin center"></i></a>
          </li>
          <li>
            <a href="mailto:hello@yuqihou.com" class="btn-social btn-outline"><i class="fa fa-fw fa-envelope center"></i></a>
          </li>
        </ul>
      </div>
    </div><!--end 2-3 unit-->
    <div class="pure-u-1-4" id="selfie">
      <figure class="box pad-bottom pad-top image-half-full-width">
        <img class="round" src="/imgs/self-small.jpg">
      </figure>
    </div><!--end 1-3 unit-->
  </div>
</div>
<div id="projects" class="pure-g-r section-a">
  <div class="pure-u-1">
    <div class="wrapper">
      <div class="box">
        <h2>Course Work</h2>
        <dl>
        {% for project in site.data.projects%}
        {% if project.tag == "academic-feat" %}
          <dt><a href="{{project.link}}">{{project.name}}</a> ({{project.dates_involved}})</dt>
          <dd>{{project.blurb}}</dd>
        {% endif %}
        {% endfor %}
        </dl>
      </div>
    </div>
  </div>
  <div class="pure-u-1">
    <div class="wrapper">
      <div class="box">
        <h2>Personal Work</h2>
        <dl>
        {% for project in site.data.projects %}
        {% if project.tag == "personal-feat" %}
        <dt><a href="{{project.link}}">{{project.name}}</a> ({{project.dates_involved}})</dt>
        <dd>{{project.blurb}}</dd>
        {% endif %}
        {% endfor %}
        </dl>
      </div>
    </div>
  </div>
</div>
<div id="artwork" class="pure-g-r">
  <div class="pure-u-1">
      <ul class="gallery-items">
        {% for image in site.data.art %}
        <li class="gallery-item">
          <div class="gallery-contents">
            <div class="thumbnail gallery-trigger"><img src="{{base.url}}{{image.small}}" alt="" /></div>
          </div>
          <div class="gallery-expander">
            <div class="gallery-expander-contents">
              <div class="gallery-trigger-close close">X</div>
              <div class="title">{{image.title}}</div>
              <div class="contents">{{image.description}}</div>
              <div class="image"><img src="{{base.url}}{{image.large}}" alt="" /></div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
</div>