---
layout: default
title: Home
permalink: /index.html
---
<div class="wrapper">
  <div id="selfie">
    <figure class="box">
      <img class="round" src="/imgs/self-small.jpg">
    </figure>
  </div><!--end selfie-->
  <div id="intro">
    <div class="box">
      <p>Hello, I'm Yuqi. I'm a writer and product manager based in Maryland. Currently, I work remotely at $GS (NYC). I write humor and fiction.</p></p>
      <ul class="list-inline">
        <li>
          <a href="https://twitter.com/yuqih" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter center"></i></a>
        </li>
        <li>
          <a href="https://github.com/moue" class="btn-social btn-outline"><i class="fa fa-fw fa-github center"></i></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/yuqi-hou-27251034" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin center"></i></a>
        </li>
        <li>
          <a href="mailto:hello@yuqihou.com" class="btn-social btn-outline"><i class="fa fa-fw fa-envelope center"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="projects" class="pure-g-r section-a">
  <div class="pure-u-1">
    <div class="wrapper">
      <div class="box">
        <h2>Latest Publications</h2>
        <dl>
        {% for post in site.data.writing %}
        {% if post.tag == "featured" %}
        <dt>
          <i>{{ post.site }}</i>,
          <a href="{{ post.url }}">{{ post.title }}</a>
          ({{ post.year }})
        </dt>
        <dd>{{ post.excerpt }}</dd>
        {% endif %}
        {% endfor %}
        <h2>Past Projects</h2>
        <dl>
        {% for project in site.data.projects%}
        {% if project.tag == "featured" %}
          <dt><a href="{{project.link}}">{{project.name}}</a> ({{project.dates_involved}})</dt>
          <dd>{{project.blurb}}</dd>
        {% endif %}
        {% endfor %}
        </dl>
      </div>
    </div>
  </div>
</div>
<div id="artwork" class="pure-g-r">
  <div class="pure-u-1">
      <ul class="gallery-items">
        {% for image in site.data.art %}
        <li class="gallery-item">
          <div class="gallery-contents">
            <div class="thumbnail gallery-trigger"><img src="{{base.url}}{{image.small}}" alt="" /></div>
          </div>
          <div class="gallery-expander">
            <div class="gallery-expander-contents">
              <div class="gallery-trigger-close close">X</div>
              <div class="title">{{image.title}}</div>
              <div class="contents">{{image.description}}</div>
              <div class="image"><img src="{{base.url}}{{image.large}}" alt="" /></div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
</div>