<header class="wrapper custom-wrapper" id="menu">
  <div id="title">
    <div class="box">
      <h1><a href="/">Yuqi Hou</a></h1>
    </div>
  </div>
  <a href="#" class="custom-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
  <nav id="navigation">
    <div class="box custom-can-transform custom-horizontal custom-vertical">
      <ul class="pad-top custom-ul">
        <li><a href="/">home</a></li>
        <li><a href="/artwork">artwork</a></li>
        <li><a href="/projects">projects</a></li>
        <li><a href="http://yuqihou.blogspot.com/">blog</a>
      </ul>
    </div>
  </nav>
</header>